/* GOOGLE FONTS */
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ======= GLOBAL ======= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
html{
    scroll-behavior: smooth;
}
 body,html{
    overflow-x: hidden;
 }

/* 1.korak */

header{
width: 100vw;
height: 100vh;
background-image: url(img/header-bg.jpg);
background-position: bottom;
background-size: cover;
display: flex;
align-items: flex-end;
justify-content: center;
}

.header-content{
    margin-bottom: 150px;
    color:whitesmoke;
    text-align: center;
}

.header-content h2{
    font: 4vmin;
}

.line{
width: 180px;
height: 4px;
background-color: #fc036b;
margin:10px auto;
border-radius: 5px;
}

.header-content h1{
    font-size: 5vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

.ctn{
    padding: 8px 15px;
    background-color: #fc036b;
    border-radius: 30px;
    color: whitesmoke;

}

/* 2. korak - NAVBAR */ 

.navbar{
    position: fixed !important;
    top: 0;
    left:0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    background-color: #000000;
    opacity: 0.8;
}

ul{
    list-style: none;
}

.nav-links{
    display: flex;
    align-items: center;    
}

.nav-links li{
    margin: 0 30px;
}

.nav-links li a{
    color: whitesmoke;
}


/* korak 2a - POSLEDNJI KORAK MENIJA */
.menu-btn {
    display: none;
}

/* 2. korak - RESPONZIVNOST NA TELEFONU */ 
@media only screen and (max-width:850px) {
    .navbar{
        position: absolute;
        padding: 0;
        opacity: 1;
        background-color: transparent;
    }
    .logo{
        position:absolute;
        top:30px;
        left: 30px;
        color: #fc036b;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #484872;
        margin-top: -900px;

        /*korak 2a */
        transition: all 0.5s ease;
    }
    .nav-links li{
        margin: 30px auto;
    }

    /* korak 2a - ONA KRATKA SKRIPTA KOJU GOTOVU DOBIJAJU*/
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    
     .menu-btn{
        display: block !important;
        position: absolute;
        width:40px;
        top: 30px;
        right: 30px;
        cursor: pointer;
        background-color: #fc036b;
        border-radius: 15px;
    }

    /* 5. korak - TURE I LOKACIJE*/
    .content-col h1{
        font-size: 5vmin !important;
    }
    .content-col .line{
        width: 80% !important;
        margin: 0 10;
    }
    .content-col .ctn{
        margin: 0 0 !important;
    }
    .footer{
        flex-direction: column;
        align-items: center;
    }
}

/* korak 2a - POSLEDNJI KORAK MENIJA */
.menu-btn {
    display: none;
}

/* 3. korak - SEKCIJA DOGAÄAJI */ 

section{
    width: 80%;
    margin: 80px auto;
}

.title{
    text-align: center;
    font-size: 4vmin;
    color: rgb(73, 73, 126);
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row .col img{
    width: 80%;
    height: 70vmin;
}

.events .row{
    margin-top: 50px;
}

h4{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}

p{
    padding: 0px 30px;
    color: #484872;
}

.events .ctn {
    margin-top: 30px;
}


/* 4. korak - SEKCIJA ISTRAZI */

.explore{
    width: 100%;
    height:100%;
    background-image: url(img/bg2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    
}

.explore-content{
    width: 80%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.explore-content h1{
    font-size: 7vmin;
}
.explore-content .line {
    width: 100%;
    margin-bottom: 50px;
}
.explore-content p{
    color: white;
    width: 100%;
    padding: 0px;
    margin-top:40px;
}

.explore-content .ctn{
    display: inline-block;
    margin-top: 10px;
}

#post-1{
    padding: 30px 10px;
    background-color: #00000092;
    color:white;
    border-radius: 5px;
}

#post-2{
    padding: 30px 10px;
    background-color: #00000092;
    color:white;
    border-radius: 5px;
}

/* 5. korak - TURE I LOKACIJE    */
.content-col{
    width: 40%;
}
.content-col .line{
    margin-left: -1px;
}
.content-col p{
   padding: 0px;
   margin: 30px auto;
}
.content-col .ctn{
    margin-left: -100px;
}
.image-col{
width: 60%;
}

.tours .image-gallery{
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: end;
}

.tours .image-gallery img{
    width: 40%;
    height: 30vmin;
    margin: 10px;
}

.content-col h1{
    font-size: 7vmin;
}

/* 6. korak - KONTAKT FORMA    */

.myForm {
    width: 100%;
    color: whitesmoke;
    display: flex;
    background-color: #fc036b91;
    border-radius: 3px;
    padding: 1.8em;
    justify-content: center;
  }
  .message {
    flex: 2;
    display: flex;
    flex-direction: column;
    order: 2;
  }
  .message > textarea {
   flex: 1; 
   min-width: 18em;
   width: 100%;
  }
  .contact {
   	flex: 1; 
    order: 1;
   	margin-right: 2em; 
    align-items: center;
    flex-direction: column;
  }
  .contact h1{
  font-size: 4vmin;
  margin-bottom: 15px;
  }
  .contact input {
    width: 100%;
   
  }
  .contact input,
  .contact button {
    padding: 1em;
    margin-bottom: 1em;
  }
  .contact button {
   background: rgb(0, 0, 0);
   color: white;
   border: 0;
  }
  .contact-data{
    flex:1;
    order: 3;
    margin: 20px 20px;
  }
  .contact-data h3{
    margin: 20px 20px;
  }

  /*7 korak - FOOTER */

.footer{
    background-color: #000000;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.footer-content ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    color: whitesmoke;
}
.footer-content{
    margin: 15px 15px;
}
.social-col{
    display: flex;
    margin: 10px 10px;
}
.social-col ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    
.social-col img{
    width: 40px;
    margin-right: 10px;
    background-color: #fc036b;
    padding: 3px;
    border-radius: 15px;
}
.footer-contact-data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 15px;
}
.footer-contact-data p{
    color: whitesmoke;
    padding: 10 px 10px;
}
  
  